.mood-outer-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    width: 200px;
    height: 350px;
    min-height: 350px;
    max-width: 200px;
    background-color: white;
}

.mood-outer-container img {
    height: 80%;
}

.mood-outer-container h4 {
    margin: 0 5px 5px 5px;
}

/*.mood-link {*/
/*    text-decoration: none;*/
/*    color: black;*/
/*    margin: 5px 10px;*/
/*    border: 2px solid transparent;*/
/*}*/

/*.mood-link:hover {*/
/*    border: 2px solid #750000;*/
/*}*/


.mood-button {
    border: 2px solid transparent;
    margin: 5px 10px;
    font-size: 16px;
    text-align: left;
    font-weight: bolder;
}

.mood-button:hover {
    border: 2px solid #750000;
    cursor: pointer;
}