.mood-outer-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    width: 200px;
    height: 350px;
    background-color: var(--main-theme-color-white);
    border-radius: 10px 10px 7px 7px;
}

.mood-outer-container img {
    height: 80%;
    margin-bottom: 5px;
    border-radius: 5px 5px 0 0;
}

.mood-outer-container h4 {
    margin: 0 5px 5px 5px;
}

.mood-button {
    border: 3px solid var(--main-bg-color);
    margin: 5px 10px;
    font-size: 16px;
    text-align: left;
    font-weight: bolder;
    border-radius: 10px 10px 7px 7px;
}

.mood-button:hover {
    border: 3px solid var(--main-theme-color-red);
    cursor: pointer;
}