.details-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details-inner-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 675px;
}

.details-image-container {
    width: 450px;
}

.details-image-container img {
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.movie-information {
    padding: 30px;
    background-color: #EFE7E7;
    width: 100%;
    border-radius: 0 10px 10px 0;
}

.movie-information h1 {
    font-size: 40px;
}

.release-date {
    margin-bottom: 20px;
    font-size: 18px;
}

.movie-information span {
    color: #750000;
}