.details-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details-inner-container {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 675px;
}

.details-image-container {
    width: 450px;
}

.details-image-container img {
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.details-movie-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 30px 60px 30px;
    background-color: #EFE7E7;
    width: 100%;
    border-radius: 0 10px 10px 0;
}

.details-movie-information h1 {
    font-size: 40px;
}

.details-movie-information h2 {
    margin-bottom: 20px;
}

.details-release-date {
    font-size: 18px;
}

.details-movie-information span {
    color: #750000;
}

.details-tagline {
    margin-block: 20px;
    font-weight: normal;
    font-size: 20px;
    font-style: italic;
}

.details-movie-information h3 {
    margin-block: 20px;
}

.details-movie-information a,
.details-movie-information a:visited {
    color: black;
}

.details-movie-information a:hover {
    color: #750000;
}

.details-icons-container {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    gap: 25px;
}

.inactive-favorite-button,
.inactive-watchlist-button,
.inactive-watched-button {
    border: 1px solid #EFE7E7;
    background-color: #EFE7E7;
    position: relative;
}

.inactive-favorite-button:hover::before {
    content: "Voeg toe aan je favorieten";
    position: absolute;
    top: 36px;
    left: 0;
    background-color: #750000;
    padding: 4px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    width: 200px;
}

.inactive-watchlist-button:hover::before {
    content: "Voeg toe aan je watchlist";
    position: absolute;
    top: 36px;
    left: -60px;
    background-color: #750000;
    padding: 4px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    width: 200px;
}

.inactive-watched-button:hover::before {
    content: "Voeg toe aan al gezien";
    position: absolute;
    top: 36px;
    left: -120px;
    background-color: #750000;
    padding: 4px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    width: 200px;
}

.active-favorite-button,
.active-watchlist-button,
.active-watched-button {
    border: 1px solid #EFE7E7;
    background-color: #EFE7E7;
}

.active-favorite-button img {
    filter: invert(33%) sepia(48%) saturate(3863%) hue-rotate(223deg) brightness(103%) contrast(90%);
}

.active-watchlist-button img {
    filter: invert(48%) sepia(50%) saturate(7135%) hue-rotate(340deg) brightness(100%) contrast(94%);
}

.active-watched-button img {
    filter: invert(50%) sepia(57%) saturate(1456%) hue-rotate(86deg) brightness(103%) contrast(103%);
}