.lists-section-container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    justify-content: center;
    flex-wrap: wrap;
    margin-inline: 30px;
    min-height: 375px;
    align-items: center;
}

.no-items-message {
    color: var(--main-theme-color-white);
    font-style: italic;
}

.lists-titles {
    margin-top: 30px;
    color: var(--main-theme-color-white);
}