.moviecard-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    width: 160px;
    height: 365px;
    max-width: 175px;
    justify-content: space-between;
    background-color: white;
}

.moviecard-header-section img {
    width: 100%;
}

.details-button {
    margin: 5px 10px;
    border: 2px solid #282828;
    text-align: left;
}

.details-button h3,
.details-button h4 {
    margin: 5px;
}

.details-button:hover {
    border: 2px solid #750000;
    cursor: pointer;
}

.icons-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: right;
    gap: 2px
}

.active-favorite-icon,
.active-watchlist-icon,
.active-watched-icon {
    background-color: white;
}

.active-favorite-icon img {
    filter: invert(33%) sepia(48%) saturate(3863%) hue-rotate(223deg) brightness(103%) contrast(90%);
}

.active-watchlist-icon img {
    filter: invert(48%) sepia(50%) saturate(7135%) hue-rotate(340deg) brightness(100%) contrast(94%);
}

.active-watched-icon img {
    filter: invert(50%) sepia(57%) saturate(1456%) hue-rotate(86deg) brightness(103%) contrast(103%);
}

.icons-container button {
    border: 1px solid white;
}


.default-icon {
    background-color: white;
}