.moviecard-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    width: 160px;
    height: auto;
    max-width: 175px;
    justify-content: space-between;
    background-color: white;
    margin: 5px 10px;
}

.moviecard-header-section img {
    width: 100%;
}

.icons-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: right;
    gap: 2px
}

.icons-container img {
    /*background-color: white;*/
}

.icons-container button {
    border: 1px solid white;
}

.icons-container button:hover {
    cursor: pointer;
}

.default-icon {
    background-color: white;

}