.moviecard-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    width: 160px;
    height: 365px;
    max-width: 175px;
    justify-content: space-between;
    background-color: white;
}

.moviecard-header-section img {
    width: 100%;
}

.details-button {
    margin: 5px 10px;
    border: 2px solid #282828;
    text-align: left;
}

.details-button h3,
.details-button h4 {
    margin: 5px;
}

.details-button:hover {
    border: 2px solid #750000;
    cursor: pointer;
}

.icons-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: right;
    gap: 2px
}

.icons-container img {
    color: black;
    /*filter: invert(15%) sepia(37%) saturate(3144%) hue-rotate(337deg) brightness(103%) contrast(133%);*/
    /*Hier komt de aangepast kleur*/
}

.icons-container button {
    border: 1px solid white;
}

.icons-container button:hover {
    cursor: pointer;
}

.default-icon {
    background-color: white;
}