.home-inner-container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
    position: relative;
    margin-inline: 30px
}

.home-titles {
    margin-top: 40px;
    color: var(--main-theme-color-white);
}

