.home-inner-container {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
    position: relative;
    margin-inline: 30px
}

.home-titles {
    margin-top: 40px;
    color: var(--main-theme-color-white);
}

.inactive-home-results-button,
.active-home-results-button {
    margin-top: 10px;
    padding: 8px 14px;
    border-radius: 14px;
    font-weight: bold;
    background-color: var(--main-theme-color-red);
    color: var(--main-theme-color-white);
    border: 2px solid var(--main-theme-color-black);
    font-size: 14px;
    margin-bottom: 10px;
}

.inactive-home-results-button:hover {
    color: var(--main-theme-color-gold);
}

.active-home-results-button {
    color: var(--main-theme-color-gold);
}