.home-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-inner-container {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    justify-content: center;
    height: auto;
    background-color: green;
    flex-wrap: wrap;
    position: relative;
    margin-inline: 30px
}

.moviecards-container {
    display: flex;
    flex-direction: row;
}

.home-outer-container h1 {
    margin-top: 20px;
    color: white;
}

.title-container {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: flex-end;
    width: 100%;
    margin-left: 50px;
}