.sign-in-outer-container {
    background-image: url("../../assets/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.sign-in-inner-container{
    display: flex;
    flex-direction: column;
    background-color: var(--field-bg-color);
    flex-basis: 400px;
    width: 400px;
    border-radius: 10px;
    padding: 40px;
    align-items: center;
    position: relative;
}

.sign-in-inner-container h1 {
    margin-bottom: 20px;
    color: var(--main-theme-color-white);
    font-size: 40px;
}

.sign-in-inner-container label {
    color: var(--main-theme-color-white);
    font-weight: bold;
    font-size: 20px;
}

.sign-in-inner-container input {
    width: 100%;
    border-radius: 5px;
    padding: 9px 8px;
    margin: 2px 0;
    border: 1px solid transparent;
}

.sign-in-inner-container p {
    font-weight: bold;
    margin-bottom: 10px;
    min-height: 21px;
    font-size: 15px;
}

.sign-in-inner-container .input-error-message {
    color: var(--main-theme-color-red);
}

.sign-in-inner-container button {
    background-color: var(--main-theme-color-red);
    width: 100%;
    padding: 12px;
    margin-top: 1px;
    border-radius: 5px;
    border: 1px solid transparent;
    font-weight: bold;
    color: var(--main-theme-color-white);
}

.sign-in-inner-container button:hover {
    cursor: pointer;
    color: var(--main-theme-color-black);
}

.sign-in-inner-container input:focus {
    outline: 1px solid var(--main-theme-color-red);
}

.sign-in-inner-container button:disabled {
    background-color: var(--button-disabled-color-red);
    cursor: not-allowed;
    color: var(--main-theme-color-white);
}

.sign-in-inner-container h3 {
    color: var(--main-theme-color-white);
    position: absolute;
    bottom: -25px;
    left: 5px;
}

.sign-in-inner-container a,
.sign-in-inner-container a:visited {
    color: var(--main-theme-color-white);
}

.sign-in-inner-container a:hover {
    color: var(--main-theme-color-gold);
}