.suggestion-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.suggestion-switch-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.suggestion-mood-container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
    margin-inline: 30px;
}

.suggestion-inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1000px;
    height: auto;
    flex-wrap: wrap;
    margin-inline: 30px;
}

.suggestion-outer-container h1,
.suggestion-outer-container h2 {
    color: white;
    margin: 20px 30px 5px 30px;
}

.button-to-overview {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 24px;
    margin: 20px 0 5px 0;
    text-decoration: underline;
}

.button-to-overview:hover {
    cursor: pointer;
    color: #750000;
}

.loading-section-suggestion {
    min-height: 30px;
    margin-bottom: 10px;
}

.loading-message-suggestion {
    color: white;
}

.error-message-suggestion {
    color: red;
}

