.suggestion-title {
    color: var(--main-theme-color-white);
    margin: 20px 30px 5px 30px;]
    font-size: 40px
}

.suggestion-mood-container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
    margin-inline: 30px;
}