/*General Styling*/

.search-page-outer-container {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 110px);
    flex-basis: 100vw;
    padding-block: 40px;
}

/*Menu Styling*/

.search-menu-container {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
    gap: 1px;
}

.search-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--menu-bg-color);
    width: 100%;
    flex-basis: auto;
    max-width: 250px;
    border-radius: 0 10px 10px 0;
    padding: 20px 15px;
}

.search-menu h2 {
    color: var(--main-theme-color-gold);
}

.search-menu p {
    color: var(--main-theme-color-white);
    font-weight: bold;
}

.search-specific {
    margin-bottom: 10px;
}

.search-specific h2 {
    padding-bottom: 5px;
}

#search-specific-field {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    box-shadow: none;
    border: none;
    outline: white;
    width: 80%;
}

#search-specific-field:focus {
    outline: 1px solid var(--main-theme-color-red);
}

#search-specific-button {
    width: 20%;
    padding: 5px;
    border-radius: 0 5px 5px 0;
    border: none;
    color: white;
    background-color: #282828;
    font-weight: bold;
}

#search-specific-button:hover {
    color: var(--main-theme-color-gold);
}

.search-filter-movies-series {
    gap: 10px;
}

.search-filter-movies-series button {
    padding: 4px;
    border-radius: 5px;
    outline: 1px solid var(--menu-bg-color);
    font-weight: bold;
}

.search-filter-movies-series .active-filter-button {
    background-color: var(--button-color-green);
    border: 1px solid var(--button-color-green);
}

/*Specific Search Styling*/

.specific-search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.specific-search-results-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1000px;
    height: auto;
    flex-wrap: wrap;
    margin: 0 30px 50px 30px;
}

.specific-search-container h1,
.specific-search-container h2 {
    color: white;
    margin: 20px 30px 5px 30px;
}

.button-to-overview {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 24px;
    margin: 20px 0 5px 0;
    text-decoration: underline;
}

/*Filter Search Styling*/

.filter-search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 100vw;
}

.filter-search-results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    height: auto;
    flex-wrap: wrap;
    margin-inline: 30px;
    background-color: green;
}

