.footer-outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    flex-basis: 100vw;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: var(--main-theme-color-red);
    color: var(--main-theme-color-white);
    margin-top: 50px;
}

.footer-outer-container span {
    color: var(--main-theme-color-gold);
}