.page-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 160px);
}

.loading-error-section {
    min-height: 30px;
    margin-bottom: 10px;
}

.loading-error-section .loading-message {
    color: var(--main-theme-color-white);
    font-style: normal;
}

.loading-error-section .error-message {
    color: var(--main-error-color-red);
    font-style: normal;
}
