.details-inner-container {
    display: flex;
    flex-direction: row;
    min-width: 900px;
    max-width: 1000px;
    height: 700px;
}

.details-image-container {
    width: 450px;
}

.details-image-container img {
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.details-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 30px 30px 30px;
    background-color: var(--main-theme-color-lightgrey);
    width: 100%;
    border-radius: 0 10px 10px 0;
}

.details-information h1 {
    font-size: 40px;
}

.details-information h2 {
    margin-bottom: 20px;
}

.details-release-date {
    font-size: 18px;
}

.details-information span {
    color: var(--main-theme-color-red);
}

.details-tagline {
    margin-block: 20px;
    font-weight: normal;
    font-size: 20px;
    font-style: italic;
}

.details-information h3 {
    margin-block: 20px;
}

.back-to-previous-page {
    background-color: transparent;
    border: none;
    color: var(--main-theme-color-black);
    font-weight: bolder;
    font-size: 17px;
    width: 230px;
    text-decoration: underline;
    margin-left: -15px;
}

.back-to-previous-page:hover {
    cursor: pointer;
    color: var(--main-theme-color-red);
}

.details-icons-container {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    gap: 25px;
}

.inactive-favorite-button,
.inactive-watchlist-button,
.inactive-watched-button {
    border: 1px solid var(--main-theme-color-lightgrey);
    background-color: var(--main-theme-color-lightgrey);
    position: relative;
}

.inactive-favorite-button:hover::before,
.inactive-watchlist-button:hover::before,
.inactive-watched-button:hover::before {
    background-color: var(--main-theme-color-red);
    position: absolute;
    top: 36px;
    padding: 4px;
    border-radius: 5px;
    font-size: 14px;
    color: var(--main-theme-color-lightgrey);
    width: 200px;
}

.inactive-favorite-button:hover::before {
    content: "Voeg toe aan je favorieten";
    left: 0;
}

.inactive-watchlist-button:hover::before {
    content: "Voeg toe aan je watchlist";
    left: -60px;
}

.inactive-watched-button:hover::before {
    content: "Voeg toe aan al gezien";
    left: -120px;
}

.active-favorite-button,
.active-watchlist-button,
.active-watched-button {
    border: 1px solid var(--main-theme-color-lightgrey);
    background-color: var(--main-theme-color-lightgrey);
}

.active-favorite-button img {
    filter: var(--icon-filter-color-blue);
}

.active-watchlist-button img {
    filter: var(--icon-filter-color-red);
}

.active-watched-button img {
    filter: var(--icon-filter-color-green);
}

.details-inner-container ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    max-width: 100%;
    flex-wrap: wrap;
}

.details-inner-container li {
    margin: 10px 10px 1px 0;
    padding: 4px 8px;
    border-radius: 14px;
    /*font-weight: bold;*/
    color: var(--main-theme-color-white);
    background-color: var(--main-theme-color-red);
    border: 1px solid var(--main-theme-color-red);

}